

#quiz {
	margin-top: 20px;
}
 
h1 {
	color: #fff;
	font-size: 3rem;
	text-align: center;
	padding: 2px 0;
}

p {
	color: #fff;
	text-align: center
}

#question {
	font-size: 1.7rem;
	color: #fff;
}

.button {
	justify-items: center;
	background-color: #34a3a3;
	color: white;
	width: 250px;
	font-size: 20px;
	border-radius: .3rem;
	padding: 10px 20px;
	margin: 10px 20% ;
	outline: 0;
}

.button:hover {
	cursor: pointer;
	background: #57636e;
}

#progress {
	font-size: 20px;
}