<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Taekwon-Do I.T.F. App</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#about"><i class="fas fa-building"></i> About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/selector-formas"><i class="fas fa-random"></i> Selector de formas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/arbitraje-lucha"><i class="fas fa-fist-raised"></i>  Arbitraje de Lucha</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/arbitraje-forma"><i class="fas fa-calculator"></i>  Arbitraje de Forma</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/challenges"><i class="fas fa-trophy"></i> Challenges</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/cuestionario"><i class="fas fa-trophy"></i> Cuestionario</a>
				</li>
			</ul>
		</div>
	</div>
</nav>